body{
  font-family: Arial;
}

.todo-full-grid{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}

.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}

.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
}

.add-todo-button{
  background-color: green;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 15px;
}

.delete-todo-button{
  background-color: darkred;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 10px 0px;
}
